#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Setup Steam Deck
Exec=curl https://github.com/SpicyRatSauce/SteamDeckFirstTimeSetupRat/raw/main/SteamOS_Setup.sh | bash -s --
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
